__pycache__/

# logs
logs/
*.log

# database
*.db

# temporary and test files
test/
test.*

# PyCharm and vscode
.idea/
.vscode/

# trained models
*.pth

# loaded data files
loaded_data/
*.npy
*.npz
*.pt

# miscellaneous data files
*.txt
*.csv
*.json

# old stuff
old/